<% layout('../layouts/boilerplate') %>
<link rel="stylesheet" href="../CSS/landing-page.css">
<link rel="stylesheet" href="/CSS/my-articles.css">
<section id="top-highlights" style="margin-top: 4rem;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <!-- Add the landing page here -->
                <ul class="list-unstyled">
                    <% try { %>
                    <% for (let article of articles) { %>
                    <li>
                        <a href=<%= `/article/${article._id}` %>>
                            <div class="container my-article mt-4">
                                <div class="row" style="height: 100%;">
                                    <div class="col-lg-4 article-image" style=
                                    "background-image: url('/images/<%= article.headerImage %>');">
                                    </div>
                                    <div class="col-lg-6 article-content">
                                        <div class="my-article-content">
                                            <p class="article-info"><%= article.topic %> </p>
                                            <h2 class="article-title fancy-link"><%= article.title %></h2>
                                            <p class="article-description"><%= article.description %></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 article-details">
                                        <ul class="list-unstyled">
                                            <li class="article-info"><%= article.views %> </li>
                                            <li class="article-info">Hearts</li>
                                            <li class="article-info"><%= article.minsToRead %> </li>
                                            <li class="article-info"><%= article.date %></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <% } %> 
                    <% } catch (err) { console.log('No Articles') } %>
                </ul>
                <!-- End the landing page here -->
            </div>
            <div class="col-lg-3 mt-5 mt-lg-0">
                <div class="row g-2">
                    <h4>Show some love!</h4>
                    <div class="col-4">
                        <a href="https://www.facebook.com/Stishh.Media?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Facebook+Website+Links" target="_blank" class="bg-facebook rounded text-center text-white-force p-3 d-block">
                            <img class="mb-2" src="/Vector-Icons/facebook_logo_icon.svg" alt="" width="24" height="24">
                            <h6 class="m-0">Like</h6>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="https://www.instagram.com/stishh.media/?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Instagram+Website+Links" target="_blank" class="bg-instagram-gradient rounded text-center text-white-force p-3 d-block">
                            <img class="mb-1" src="/Vector-Icons/instagram_logo_icon.svg" alt="" width="36" height="36">
                            <h6 class="m-0">Follow</h6>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="https://twitter.com/Stishh_Media?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Twitter+Website+Links" target="_blank" class="bg-twitter rounded text-center text-white-force p-3 d-block">
                            <img class="mb-2" src="/Vector-Icons/twitter_logo_icon.svg" alt="" width="24" height="24">
                            <h6 class="m-0">Share</h6>
                        </a>
                    </div>
                </div>
                <div style="width: 100%;">
                    <h4 class="mt-4 mb-3">Our Topics</h4>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="travel-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Travel</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="gaming-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Gaming</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="internet-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Internet</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="animals-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Animals</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="movies-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Movies</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="tvshows-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">TV Shows</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="arts-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Arts</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="music-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Music</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-12">
                    <h3 class="title-sm">Trending</h3>
                    <div id="trending" class="shadow">
                        <ul class="list-unstyled">
                            <% try { %>
                            <% for (let article of articles) { %>
                            <li class="mt-3">
                                <a href="<%= `/article/${article._id}` %>">
                                    <div class="article-short">
                                        <div class="container mt-3" style="padding-left: 0; padding-right: 1rem;">
                                            <div class="row">
                                                <div class="col-6" style=
                                                "position: relative; 
                                                background-image: url('/images/<%= article.headerImage %>'); 
                                                background-size: cover; 
                                                background-repeat: no-repeat; 
                                                background-position: center;">
                                                </div>
                                                <div class="col-6 article-content">
                                                    <div class="my-article-content-sm">
                                                        <h2 class="article-title-sm fancy-link"><%= article.title %></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <% } %> 
                            <% } catch (err) { console.log('No Articles') } %>
                        </ul>
                    </div>
                    <h3 class="title-sm">Top posts</h3>
                    <div id="top-posts" class="shadow">
                        <ul class="list-unstyled">
                            <% try { %>
                            <% for (let article of articles) { %>
                            <li class="mt-3">
                                <a href="<%= `/article/${article._id}` %>">
                                    <div class="article-short">
                                        <div class="container mt-3" style="padding-left: 0; padding-right: 1rem;">
                                            <div class="row">
                                                <div class="col-6" style=
                                                "position: relative; 
                                                background-image: url('/images/<%= article.headerImage %>'); 
                                                background-size: cover; 
                                                background-repeat: no-repeat; 
                                                background-position: center;">
                                                </div>
                                                <div class="col-6 article-content">
                                                    <div class="my-article-content-sm">
                                                        <h2 class="article-title-sm fancy-link"><%= article.title %></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <% } %> 
                            <% } catch (err) { console.log('No Articles') } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>